
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;  
}

body{
    background-color: #e0e7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor-grande{
    background-color: #ffffff;
    width: 75%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    min-height: 450px;
}

.services{
    color: #007bff;
    font-weight: bold;
    font-size: 11px;
    margin-bottom: 9px;
    padding: 10px 0;
}

.contenedor-grande h1{
    color: rgb(13,32,88);
    font-size: 25px;
    font-weight: 1000;
    margin-bottom: 10px;
}

.texto{
    font-size: 10px;
    color: rgb(72, 72, 72);
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px 0;
    padding: 5px;
}

.box{
    width: 28%;
    height: 60px;
    margin: 25px 16px;
    text-align: left;
    padding-bottom: 10px;
}

/*Los iconos*/
.icon{
    border-radius: 100%;
    background-color: rgb(66,105,226);
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 6px;
    font-size: 12px;
    margin-bottom: 5px;
}

/*Debajo de cada icono*/
.box h3{
   color: rgb(15,32,84);
   font-weight: bold;
   font-size: 14px;
   margin-bottom: 5px;
   margin-top: 5px;
}

.box p{
    font-size: 11px;
    color: rgb(96,96,96);
}
